flows.json
[{"id":"52661833.8e8b58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30dd5212.15ad5e","type":"ibmiot in","z":"52661833.8e8b58","authentication":"apiKey","apiKey":"b730080a.d13ed8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"17211","applicationId":"","deviceType":"NodeMCU ","eventType":"iotsensor","commandType":"Data ","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":210,"y":160,"wires":[["1c055d9d.e8dab2","457fbed4.09cea","96fad79f.693618"]]},{"id":"1c055d9d.e8dab2","type":"debug","z":"52661833.8e8b58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"457fbed4.09cea","type":"function","z":"52661833.8e8b58","name":"temperature ","func":"msg.payload=msg.payload.d.temperature\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["1c055d9d.e8dab2","35478fce.4fd73"]]},{"id":"96fad79f.693618","type":"function","z":"52661833.8e8b58","name":"humidity ","func":"msg.payload=msg.payload.d.humidity \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["1c055d9d.e8dab2","380f4f38.2c7e1"]]},{"id":"35478fce.4fd73","type":"ui_gauge","z":"52661833.8e8b58","name":"","group":"e017b6c4.0fbda8","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":60,"wires":[]},{"id":"380f4f38.2c7e1","type":"ui_gauge","z":"52661833.8e8b58","name":"","group":"e017b6c4.0fbda8","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":260,"wires":[]},{"id":"d4f33b85.c9a888","type":"http request","z":"52661833.8e8b58","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Ahmedabad,%20IN&appid=b8f004c231cea1d52115ab9e10214751","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":420,"wires":[["be4592.0211ba7","175b13c1.c1fccc","d5129586.1a7da8","4810c315.6a37bc"]]},{"id":"3fb6cf8b.adbf6","type":"inject","z":"52661833.8e8b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["d4f33b85.c9a888"]]},{"id":"f7898639.a085a8","type":"debug","z":"52661833.8e8b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":400,"wires":[]},{"id":"be4592.0211ba7","type":"function","z":"52661833.8e8b58","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["f7898639.a085a8","eefb6e79.110b5"]]},{"id":"175b13c1.c1fccc","type":"function","z":"52661833.8e8b58","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["f7898639.a085a8","144edf26.3432d1"]]},{"id":"d5129586.1a7da8","type":"function","z":"52661833.8e8b58","name":"temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["f7898639.a085a8","a31511ce.71cc9"]]},{"id":"4810c315.6a37bc","type":"function","z":"52661833.8e8b58","name":"Description","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["f7898639.a085a8","b24606c4.3d99b8"]]},{"id":"eefb6e79.110b5","type":"ui_text","z":"52661833.8e8b58","group":"e017b6c4.0fbda8","order":3,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":320,"wires":[]},{"id":"a31511ce.71cc9","type":"ui_text","z":"52661833.8e8b58","group":"e017b6c4.0fbda8","order":4,"width":0,"height":0,"name":"Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":360,"wires":[]},{"id":"144edf26.3432d1","type":"ui_text","z":"52661833.8e8b58","group":"e017b6c4.0fbda8","order":5,"width":0,"height":0,"name":"humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":460,"wires":[]},{"id":"b24606c4.3d99b8","type":"ui_text","z":"52661833.8e8b58","group":"e017b6c4.0fbda8","order":6,"width":0,"height":0,"name":"description","label":"Description","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":500,"wires":[]},{"id":"1920da11.6d5216","type":"ibmiot out","z":"52661833.8e8b58","authentication":"apiKey","apiKey":"b730080a.d13ed8","outputType":"cmd","deviceId":"12345","deviceType":"Motors","eventCommandType":"home ","format":"json","data":"data ","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":660,"wires":[]},{"id":"5b966012.591c7","type":"ui_button","z":"52661833.8e8b58","name":"","group":"e017b6c4.0fbda8","order":8,"width":0,"height":0,"passthru":false,"label":"MOTOR ON ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":370,"y":600,"wires":[["1920da11.6d5216"]]},{"id":"44f3acda.bdf984","type":"ui_button","z":"52661833.8e8b58","name":"","group":"e017b6c4.0fbda8","order":7,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":380,"y":700,"wires":[["1920da11.6d5216"]]},{"id":"b730080a.d13ed8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e017b6c4.0fbda8","type":"ui_group","z":"","name":"Smart Agri System","tab":"4e5ce89e.531468","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e5ce89e.531468","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]